<h1>Create Profile</h1>

<div class="page-actions">
  <div class="page-actions-left">
    <%= link_to "Back to Profiles", profiles_path, class: "button-link secondary" %>
  </div>
</div>

<div class="form-card">
  <%= render "form", profile: @profile %>
</div>