<h1>New Check-in for <%= @profile.display_name %></h1>

<div class="page-actions">
  <div class="page-actions-left">
    <%= link_to "Back to Profile",
        profile_path(@profile),
        class: "button-link secondary" %>

    <%= link_to "Back to Check-ins",
        profile_check_ins_path(@profile),
        class: "button-link secondary" %>
  </div>
</div>

<div class="form-card">
  <%= render "form" %>
</div>