<h1>New Measurement for <%= @check_in.formatted_date %></h1>

<p>
  <%= link_to "Back to Measurements", profile_check_in_measurements_path(@profile, @check_in) %> |
  <%= link_to "Back to Check-in", profile_check_in_path(@profile, @check_in) %>
</p>

<%= render "form" %>